<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rpc="http://besen/schema/rpc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://besen/schema/rpc http://besen/schema/rpc.xsd">

    <rpc:server id="server" host="127.0.0.1" port="8080" />

</beans>