<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="beSen.mapper.slave.AttachmentMapper">


    <!--  附件和附件类型表，第一次传ABC，则肯定是新增ABC；第二次传ABD，相对于删除了C 新增了D，处理方式是AB匹配上了flag 赋值'Y' 没匹配新增 历史的flag为N的删除 -->
    <!-- 难点：MySQL不知道两个SQL的自增ID怎么获取  然后下面SQL是oracle的Mysql的不知道怎么写 -->
    <insert id="batchInsertTest" parameterType="beSen.mapper.model.AttachmentType">
        declare type_id INT default 0;
        begin
        <foreach collection="list" item="item" index="index" >
            merge into t_attachment_type t1
            using(select #{item.type_name,jdbcType=VARCHAR} type_name) t2
            on t1.type_name = t2.type_name
            when not matched then
            insert(t1.type_name) values(#{item.type_name,jdbcType=VARCHAR});
            select t.type_id into type_id from t_attachment_type t where t.type_name = #{item.type_name,jdbcType=VARCHAR};
            <if test="item.list != null and !item.list.isEmpty()" >
                <foreach collection="item.list" item="ele" index="index" >
                    merge into t_attachment t
                    using(select #{ele.doc_name,jdbcType=VARCHAR} doc_name,
                                 #{ele.doc_id,jdbcType=VARCHAR} doc_id,
                                 t1.type_id,
                    from t_attachment t1 where t1.type_id = type_id) t2
                    on t.type_id = t2.type_id
                    when matched then
                    update set t.flag = 'Y'
                    when not matched then
                    insert(t.doc_id,t.doc_name,t.type_id)values(#{ele.doc_id,jdbcType=VARCHAR},
                    #{ele.doc_name,jdbcType=VARCHAR},type_id);
                </foreach>
            </if>
            update t_attachment t set t.isDeleted = 'Y' where t.flag = 'N';
            update t_attachment t set t.flag =  'N';
        </foreach>
        end;
    </insert>
    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="typeId">
        insert into t_attachment_type(type_name) values
        <!--mybatis 参数映射为list @Param 可以指定入参名称-->
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.typeName})
        </foreach>
    </insert>

    <insert id="batchInsertAtt" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into t_attachment (doc_id,doc_name,type_id) values
        <!--mybatis 参数映射为list @Param 可以指定入参名称-->
        <foreach collection="list" item="ele" index="index" separator=",">
            (#{ele.docId},#{ele.docName},#{ele.typeId})
        </foreach>
    </insert>

    <resultMap id="resultMap" type="beSen.mapper.model.AttachmentType">
        <id column="type_id" jdbcType="INTEGER" property="typeId" />
        <result column="type_name" jdbcType="VARCHAR" property="typeName" />
            <collection property="attachments" ofType="beSen.mapper.model.Attachment" column="typeId">
                <id column="id" jdbcType="INTEGER" property="id" />
                <result column="type_id" jdbcType="VARCHAR" property="typeId" />
                <result column="doc_id" jdbcType="VARCHAR" property="docId" />
                <result column="doc_name" jdbcType="VARCHAR" property="docName" />
            </collection>
    </resultMap>
    <select id="selectAttachmentType" resultMap="resultMap">
        select t1.type_id,t1.type_name,t2.id,t2.type_id,t2.doc_id,t2.doc_name from t_attachment_type t1 inner join t_attachment t2
        on t1.type_id = t2.type_id
    </select>

    <delete id="batchDeleteAtt" parameterType="java.util.List">
        delete from t_attachment where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>

    <update id="batchUpdateAtt" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update t_attachment t
            <set>
                <if test="item.docId != null and item.docId != ''">
                    t.doc_id = #{item.docId, jdbcType=VARCHAR},
                </if>
                <if test="item.docName != null and item.docName != ''">
                    t.doc_name = #{item.docName, jdbcType=VARCHAR}
                </if>
            </set>
            where t.type_id = #{item.typeId};
        </foreach>
    </update>



</mapper>